<section class="flex flex-col-reverse md:flex-row gap-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-semibold text-pretty">
        <p>
        <strong>Algo breve personal.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, a illum ad rerum aut iusto quasi, repudiandae incidunt ex commodi provident non et molestias maxime, voluptatum totam quaerat molestiae optio!
        </p>

        <p>
        <strong>Logrosss y exitos.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugit neque ipsum ipsa nesciunt soluta commodi eaque odit quasi vero iure nisi distinctio magni deserunt, pariatur eius sed modi? Quis?

        </p>

        <p>
        <strong>Mnesaje finaaal.</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo magnam aliquid facere autem repellendus amet sequi iure voluptate perspiciatis distinctio beatae delectus inventore exercitationem qui, est minima laborum molestias nam.

        </p>
    </div>
    <img src="#" class="rounded-full size-48">

</section>