<section class="flex flex-col-reverse md:flex-row gap-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-sky-400 [&>p>strong]:font-semibold text-pretty">
        <p>
        <strong>Hi! I'm Orlando</strong>  but I also go by Jorge — yes, I have two names :p, 
        my close friends often call me George. My journey into the world of computing began at 18, 
        when I created a simple game for a school project. Currently, 
        I’m studying Computer Systems Engineering at IPN, and in my free time, 
        I love creating web experiences that resonate with users.
        <p>
        <strong>One of my proudest accomplishments </strong> during my studies is 
        helping my peers learn JavaScript and understand how it interacts with the DOM. 
        My favorite moments are the afternoons spent solving complex programming problems with friends. 
        It’s always rewarding to see different approaches to the same challenge and collaborate toward a 
        satisfying result.
        </p>

        <p>
        <strong>Backend Experience</strong> while my focus is currently on frontend development, 
        I also have backend experience with languages like Java, C, and C#. 
        I believe understanding both sides of the development process helps create smoother, 
        more efficient solutions for everyone involved.
        </p>
    </div>
    <img src="/img/yo.jpeg" class="rounded-full size-48">

</section>