---
import ExperienceItem from "./icons/ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'April 2024 - Present',
        title: 'BPE Delivery - Backend Developer',
        description: 'I’ve worked with cutting-edge technologies to build robust and scalable applications.I developed scalable RESTful APIs using Spring Boot that handle over 100,000 daily requests and enable interaction between more than 50 microservices, improving system efficiency by 35%. In addition, I enhanced query performance in PostgreSQL for databases with over 500,000 records, increasing query efficiency by 30% and reducing report generation times by 40%. I also implemented advanced security features with JWT, managing over 50,000 active users, which reduced authentication errors by 25% and ensured a seamless and secure user experience. Furthermore, I managed the deployment and administration of applications on Google Cloud, leveraging services like Cloud SQL and Cloud Run, optimizing scalability and reducing operational costs by 20%',
        link: ''

    }
]
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
        ))
    }                 
</ol>

